doctype html
//if lte IE 6
  html.preIE7.preIE8.preIE9(lang='en')
//if IE 7
  html.preIE8.preIE9(lang='en')
//if IE 8
  html.preIE9(lang='en')
// [if gte IE 9] <!
html(lang='en')
  // <![endif]
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    
    title {{appTitle}}
    
    //- Social meta values, facebook, etc
    meta(name='description', content='{{appDescription}}')
    // Schema.org markup for Google+
    meta(itemprop='name', content='{{appTitle}}')
    meta(itemprop='description', content='{{appDescription}}')
    meta(itemprop='image', content='{{appURL}}/images/social/fb_image.jpg')
    // Twitter Card data
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@{{publisherHandle}}')
    meta(name='twitter:title', content='{{appTitle}}')
    meta(name='twitter:description', content='{{pageDescription}}')
    meta(name='twitter:creator', content='@{{authorHandle}}')
    // Twitter summary card with large image must be at least 280x150px
    meta(name='twitter:image', content='{{appURL}}/images/social/twitter_image.jpg')
    // Open Graph data
    meta(property='og:title', content='{{fbTitle}}')
    meta(property='og:type', content='{{fbType}}')
    meta(property='og:url', content='{{appURL}}')
    meta(property='og:image', content='{{appURL}}/images/social/fb_image.jpg')
    meta(property='og:description', content='{{fbDescription}}')
    meta(property='og:site_name', content='{{fbSiteName}}')
    meta(property='fb:admins', content='{{fbAdminIDs}}')
    //- Etc...
    meta(name='author', content='{{authorName}}')
    meta(name='keywords', content='{{appKeywords}}')
    
    //- Google Fonts ---
    //- link(rel='stylesheet', href='//fonts.googleapis.com/css?family=font1|font2|etc', type='text/css')
    
    // bower:css
    // endbower
    
    //- Main stylesheet ---
    link(rel='stylesheet'
          href='styles/style.css'
          type='text/css')
    
  body
    
    header.content
    section.content(role='main')
      .pure-g
        .pure-u-1-3
          p Thirds
        .pure-u-1-3
          p Thirds
        .pure-u-1-3
          p Thirds
      
    // bower:js
    // endbower
    
    //- Main javascript ---
    script(src="scripts/script.js")
    
    //- Google Analytics  
    //- script.
    //-   var _gaq = _gaq || [];
    //-   _gaq.push(['_setAccount', 'UA-XXXXXXXX-Y']);
    //-   _gaq.push(['_trackPageview']);
    //-   (function()
    //-   {
    //-   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    //-   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    //-   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    //-   })();
