doctype html
//if lte IE 6
  html.preIE7.preIE8.preIE9(lang='en')
//if IE 7
  html.preIE8.preIE9(lang='en')
//if IE 8
  html.preIE9(lang='en')
// [if gte IE 9] <!
html(lang='en')
  // <![endif]
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    
    title Website Title!
    
    //- Social meta values, facebook, etc
    meta(name='description', content='Page description. No longer than 155 characters.')
    // Schema.org markup for Google+
    meta(itemprop='name', content='The Name or Title Here')
    meta(itemprop='description', content='This is the page description')
    meta(itemprop='image', content='http://www.example.com/social/image.jpg')
    // Twitter Card data
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@publisher_handle')
    meta(name='twitter:title', content='Page Title')
    meta(name='twitter:description', content='Page description less than 200 characters')
    meta(name='twitter:creator', content='@author_handle')
    // Twitter summary card with large image must be at least 280x150px
    meta(name='twitter:image:src', content='http://www.example.com/social/image.html')
    // Open Graph data
    meta(property='og:title', content='Title Here')
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://www.example.com/')
    meta(property='og:image', content='http://example.com/image.jpg')
    meta(property='og:description', content='Description Here')
    meta(property='og:site_name', content='Site Name, i.e. Moz')
    meta(property='article:published_time', content='2013-09-17T05:59:00+01:00')
    meta(property='article:modified_time', content='2013-09-16T19:08:47+01:00')
    meta(property='article:section', content='Article Section')
    meta(property='article:tag', content='Article Tag')
    meta(property='fb:admins', content='Facebook numberic ID')
    //- Etc...
    meta(name='author', content='name')
    meta(name='keywords', content='keywords,here')
    
    //- Google Fonts ---
    //- link(rel='stylesheet', href='//fonts.googleapis.com/css?family=font1|font2|etc', type='text/css')
    
    // bower:css
    // endbower
    
    //- Main stylesheet ---
    link(rel='stylesheet'
          href='styles/style.css'
          type='text/css')
    
  body
    
    section(role='main')
      h1 Site title
      h2 Site sub-title
      
    // bower:js
    // endbower
    
    //- Main javascript ---
    script(src="scripts/script.js")
    
    //- Google Analytics  
    //- script.
    //-   var _gaq = _gaq || [];
    //-   _gaq.push(['_setAccount', 'UA-XXXXXXXX-Y']);
    //-   _gaq.push(['_trackPageview']);
    //-   (function()
    //-   {
    //-   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    //-   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    //-   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    //-   })();
